<h2>Admin Notes</h2>

<ng-container *ngIf="!noteEdit && adminNotes && adminNotes.length > 0">
  <p>{{ adminNotes }}</p>
  <div class="button-wrapper">
    <button class="btn btn-primary" (click)="editNotes()">Edit</button>
  </div>
</ng-container>

<ng-container *ngIf="noteEdit">
  <div class="form-group">
    <mat-form-field>
      <textarea matInput matTextareaAutosize placeholder="Admin notes" id="adminNotes" class="form-control" [(ngModel)]="adminNotes"></textarea>
    </mat-form-field>
  </div>
  <button class="btn btn-primary" (click)="saveNotes()">Save</button>

</ng-container>