p {
    white-space: pre-wrap;

    font-size: 1em;
    line-height: 1.2em;

    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;
    color: #f2f2f2;
}