<h2>Logs</h2>

<p *ngIf="!character">Loading...</p>
<p *ngIf="character && character.logs.length === 0">No logs yet for this character</p>

<div class="logs-wrapper" *ngIf="character && character.logs.length > 0">
  <ng-container *ngFor="let log of character.logs; let logNum = index">
    <div class="log" *ngIf="logNum <= logLimit && logLimit <= character.logs.length">
      <span>{{ log.timestamp | date:'medium' }}</span>
      <p>{{ log.log }}</p>
    </div>
    </ng-container>
</div>

<div class="button-wrapper" *ngIf="character && character.logs.length > 0 && logsAvailable">
  <button class="btn btn-primary" (click)="loadMoreLogs()">Load more</button>
</div>