<div class="woundFormWrapper">
  <ng-container *ngIf="formType === 'add'">
    <h2>Add a wound</h2>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Location" name="location" id="location" class="form-control" [(ngModel)]="newWound.location">
          <mat-option value="head">Head</mat-option>
          <mat-option value="chest">Chest</mat-option>
          <mat-option value="abdomen">Abdomen</mat-option>
          <mat-option value="leftArm">Left arm</mat-option>
          <mat-option value="rightArm">Right arm</mat-option>
          <mat-option value="leftLeg">Left leg</mat-option>
          <mat-option value="rightLeg">Right leg</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Severity" name="severity" id="severity" class="form-control" [(ngModel)]="newWound.severity">
          <mat-option value="SCR">Scratch</mat-option>
          <mat-option value="LW">Light wound</mat-option>
          <mat-option value="SW">Severe wound</mat-option>
          <mat-option value="FAT">Fatal</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button (click)="addWound()" class="btn btn-primary">Add</button>
    <button (click)="cancelForm()" class="btn btn-default">Cancel</button>
  </ng-container>
  <ng-container *ngIf="formType !== 'add'">
    <h2>Which wound do you want to {{ formType }}?</h2>
    <div class="wound" *ngFor="let wound of wounds">
      <p>
        {{wound.location | woundName}}
        <span class="wound{{wound.severity}}">&nbsp;({{wound.severity}})</span>
        <i class="material-icons" *ngIf="formType === 'lower'" (click)="lowerWound(wound)">low_priority</i>
        <i class="material-icons" *ngIf="formType === 'remove'" (click)="removeWound(wound)">remove_circle</i>
      </p>
    </div>
    <button (click)="cancelForm()" class="btn btn-default">Cancel</button>
  </ng-container>
</div>