.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e4caa5;
    display: block;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);    
}

.header ul {
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
}

.header ul:hover li {
    display: block;
}

.header li {
    list-style-type: none;
    display: none;
    padding: 10px 0;     
}
.header li.active a {
    color: white;
}
.header li:first-of-type {
    display: block;
    text-align: center;

    background-image: url("/assets/images/menu-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.header a {
    text-decoration: none;
    color: black;
    display: block;
}

@media (min-width: 768px) {
    .header ul {
        max-width: 768px;
        margin: 0 auto;
        padding: 0;
        display: flex;
    }
    .header li {
        display: block;
        margin-right: 20px;
        padding: 20px 0;
        width: 100px;
        text-align: center;
    }
    .header li.active {
        border-bottom: 5px solid #603901;
    }
    .header li.active a {
        color: black;        
    }
    .header li.nav-logout {
        background-color: #e0b16d;
    }
}