@import '~sass/variables';


.inventory {
    margin-top: 10px;
}
.inventory-gold {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;   

    .gold-item-name {
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .gold-item-description {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 5px;
        }
    }
}
.inventory-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;

    &-main {
        display: flex;
        align-items: center;
    }
    &-sub {
        display: none;
        margin-top: 10px;
    }
    &.active {
        .inventory-item-main {
            
        }
        .inventory-item-sub {
            display: block;
            padding: 10px;
            border-top: 2px solid black;
        }
    }
}
.inventory-item-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    flex-shrink: 0;
    height: 50px;
    width: 50px;
}
.inventory-item-name {
    font-weight: bold;    
    margin-left: 10px;
    color: $primary-color;
    span {
        color: $primary-color;
    }
}
.inventory-item-description {
    white-space: pre-wrap;
    line-height: 1.2em;
}
.inventory-item-name:first-letter{
    text-transform: uppercase;
}
.inventory-buttons {
    text-align: center;
    padding-top: 10px;
}
select {
    display: block;
    width: 100%;
  }
@media (min-width: 768px) {
    .inventory-gold {
        .gold-item {
            display: flex;
        }
        .gold-item-name {
            width: 20%;
        }
        .gold-item-description {
            width: 60%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            white-space: pre-wrap;
            line-height: 1.2em;

            img {
                height: 20px !important;
            }
        }
        .inventory-buttons {
            width: 20%;
            padding-top: 0;
        }
    }
    .inventory-item {
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    .inventory-buttons {
        text-align: right;
    }
}
@media (max-width: 768px) {
    .inventory-gold {
        * {
            text-align: center !important;
        }
    }
}