@import '~sass/variables';


.inventory {
    margin-top: 10px;
}
.inventory-gold {
    .inventory-item-description {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 5px;
        }
    }
}
.inventory-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;    
}
.inventory-item-name {
    text-transform: lowercase;
    color: $primary-color;
    span {
        color: $primary-color;
    }
}
.inventory-item-name:first-letter{
    text-transform: uppercase;
}
.inventory-item-name {
    font-weight: bold;
    margin-bottom: 20px;
}
.inventory-buttons {
    text-align: center;
    padding-top: 20px;
}
@media (min-width: 768px) {
    .inventory {
    }
    .inventory-gold {
        .inventory-item-description {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            img {
                height: 20px !important;
            }
        }
    }
    .inventory-item {
        display: flex;
    }
    .inventory-item-name {
        margin-bottom: 0;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .inventory-item-name, .inventory-buttons {
        width: 20%;
    }
    .inventory-item-description {
        width: 60%;
    }
    .inventory-buttons {
        text-align: right;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .inventory-gold {
        * {
            text-align: center !important;
        }
    }
}