<h2>Logs</h2>

<p *ngIf="!character">Loading...</p>
<p *ngIf="character && character.logs.length === 0">No logs yet for this character</p>

<div class="form">
  <div class="form-group" *ngIf="character && character.logs.length > 0 && logsAvailable">
    <mat-form-field>
      <mat-select id="logFilter" class="form-control" [(ngModel)]="logType" name="secret">
        <mat-option value="all">All</mat-option>
        <mat-option value="statLog">Stat logs</mat-option>
        <mat-option value="abilityLog">Ability logs</mat-option>
        <mat-option value="inventoryLog">Inventory logs</mat-option>
        <mat-option value="questLog">Quest logs</mat-option>
        <mat-option value="npcLog">NPC logs</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group" *ngIf="character && character.logs.length > 0 && logsAvailable">
    <mat-form-field>
      <mat-select id="logFilter" class="form-control" [(ngModel)]="logLimit" name="secret">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="50">50</mat-option>
        <mat-option value="100">100</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="logs-wrapper" *ngIf="character && character.logs.length > 0">
  <ng-container *ngFor="let log of character.logs | filter:logType:'type'; let logNum = index">
    <div class="log" *ngIf="logNum < logLimit && logNum <= character.logs.length">
      <span>{{ log.timestamp | date:'medium' }}</span>
      <p>{{ log.log }}</p>
    </div>
  </ng-container>
</div>