// app colors

$primary-color: #0397dd;
$primary-color-dark: #0379b0;
$background-color: #242424;

$hightlight-color: #333;

$btn-primary-color: #F2F2F2;
$btn-default-color: #F2F2F2;
$btn-danger-color: #F2F2F2;
