// app colors

$primary-color: rgb(206, 162, 75);
$primary-color-dark: rgb(146, 114, 50);
$background-color: #242424;

$hightlight-color: #333;
$effect-color: #43CE7F;
$wound-color: #ED4337;
$debuff-color: #F7B929;
$minion-color: #8ec54f;
$chaos-color: #e92b7a;

$btn-primary-color: #F2F2F2;
$btn-default-color: #F2F2F2;
$btn-danger-color: #F2F2F2;
$btn-action-color: #A16533;

