// FORM STYLING

.form-group {
    margin-bottom: 15px;

    .mat-form-field-appearance-legacy {
        .mat-form-field-label {
            color: lightgrey;
        }
        .mat-form-field-underline {
            background-color: lightgrey;
        }
    }

    .form-control {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    mat-form-field {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #F2F2F2;
    outline: 0;
    &.btn-primary {
        background-color: $primary-color;
    }
    &.btn-default {
        background-color: grey;
    }
    &.btn-danger {
        background-color: #ED4337;
    }
    &.btn-special {
        background-color: #FF7E47;
    }
    &.btn-small {
        padding: 5px;
    }
    &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }
    & + .btn {
        margin-left: 10px;
    }
}
