// FORM STYLING

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
    color: black !important;
    background-color: rgb(142, 142, 142) !important;
}
textarea {
    min-height: 150px;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
}
.form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 0;

    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F2F2F2;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkbox {
    margin-bottom: 15px;
    input {
        margin-right: 10px;
    }
}
.btn {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: 0;
    &.btn-primary {
        background-color: $primary-color;
    }
    &.btn-default {
        background-color: grey;
    }
    &.btn-danger {
        background-color: #ED4337;
    }
    &.btn-small {
        padding: 5px;
    }
    &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
