@import '~sass/variables';
.combatTabs {
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 15px;
        background-color: $primary-color;
        color: white;
        cursor: pointer;
        &.disabled {
            background-color: rgba(0, 0, 0, 0.3);
            border: 2px solid black;
        }
    }
}

.effectsWrapper {
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.effect {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid $effect-color;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    p {
        display: inline-block;
        span {
            display: inline-block;
            color: $effect-color;
        }
    }
}

.actionWrapper {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    .action {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ability {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    .abilityInfo {
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid black;
        padding: 10px;
        p {
            color: $primary-color;
            display: inline-block;
            span {
                display: inline-block;
            }
        }
    }
    .abilityRolls {
        display: flex;
        justify-content: flex-end;
        .abilityRoll {
            display: flex;
            border: 2px solid black;
            border-top: 0;
            &+.abilityRoll {
                border-left: 0;
            }
            p {
                border-top: 0;
                padding: 5px 0;
                width: 36px;
                text-align: center;
                color: $primary-color;
            }
            span {
                display: inline-block;
                padding: 5px 10px;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.item {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    .itemInfo {
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid black;
        padding: 10px;
        p {
            color: $primary-color;
            display: inline-block;
            span {
                display: inline-block;
            }
        }
    }
}

.buttonWrapper {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $btn-action-color;
    box-sizing: border-box;
    width: 100%;
    a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 5px;
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 1;
        text-align: center;
        cursor: pointer;
        border-top: 2px solid white;
        i {
            font-size: 1.8em;
        }
        +a {
            border-left: 2px solid white;
        }
        &.buttonIni {
            position: relative;
            span {
                position: absolute;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
                display: flex;
                width: 20px;
                height: 20px;
                align-items: center;
                justify-content: center;
                font-size: 0.8em;
            }
        }
    }
}

@media (min-width: 768px) {
    .effectsWrapper {
        padding-top: 60px;
        & + .actionWrapper {
            padding-top: 20px;
        }
    }
    .actionWrapper {
        padding-top: 60px;
    }
    .buttonWrapper {
        max-width: 880px;
        margin: 0 auto;
        right: 0;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}