@import '~sass/variables';

.image-wrapper {
    width: 100%;
    position: relative;

    img {
        width: 100%;
    }
}

.fab-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    span {
        transform: scale(2);
    }
}

.fullscreen-image-wrapper {
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    height: 2000px;
    max-height: 100vh;
    width: 100vw;

    pinch-zoom {
        height: 100% !important;
    }
}
