<!--component html goes here -->
<h2>World map</h2>

<ng-container *ngIf="fullscreen === false">
    <pinch-zoom>
        <img src="assets/images/world-map.jpg" />
    </pinch-zoom>

    <button mat-fab class="fab-button" (click)="toggleFullscreen(true)">
        <span class="fullscreen-on material-icons">fullscreen</span>
    </button>
</ng-container>

<ng-container *ngIf="fullscreen === true">
    <div class="fullscreen-image-wrapper">
        <pinch-zoom>
            <img src="assets/images/world-map.jpg" />
        </pinch-zoom>
    </div>

    <button mat-fab class="fab-button" (click)="toggleFullscreen(false)">
        <span class="fullscreen-on material-icons">fullscreen_exit</span>
    </button>
</ng-container>