<h1>Choose a character</h1>

<p *ngIf="!charactersFetched">Loading...</p>

<p *ngIf="charactersFetched && characters.length === 0" style="margin-bottom: 20px; text-align: center">You don't have any characters yet</p>

<ng-container *ngIf="charactersFetched && characters.length > 0">
    <div class="characterView">
        <div class="character" *ngFor="let character of characters; let i = index">
            <p>{{ character.name }} - lv. {{ character.level }}</p>
            <div>
                <p>Class</p>
                <p>Race</p>
                <p>Age</p>
            </div>
            <div>
                <p>{{ character.className }}</p>
                <p>{{ character.race }}</p>
                <p>{{ character.age }}</p>
            </div>
            <div class="character-links">
                <a class="btn btn-primary" (click)="onSelectCharacter(i)">Select</a>
            </div>
        </div>
    </div>
</ng-container>