h3 {
    padding-bottom: 20px;
}

.character {
    background-color: rgba(0,0,0, 0.2);
    box-sizing: border-box;
    
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);    
}

.character > p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.character > div {
    display: flex;
    justify-content: space-between;

    &:first-of-type {
        p { 
            margin-bottom: 5px;
         }
    }
}

.character > div:last-of-type {
    display: block;
}

.character > div > p {
    width: 33.33%;
    text-align: center;
}

.character > div:first-of-type > p {
    font-weight: bold;
}

.character-links > a {
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 5px;
}

.character-links > a:last-of-type {
    margin-right: 0;
}

@media (min-width: 768px){
    .characterView {
        display: flex;
        flex-wrap: wrap;
    }
    .character {
        width: 48%;
        flex-shrink: 0;
    }
    .character-links {
        display: flex !important;
        justify-content: center !important;

        a {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .character:nth-of-type(2n+1) {
        margin-right: 2%;
    }
}