<h2>Combat Abilities</h2>
<ng-container *ngIf="abilityFormEnabled === false">
  <div class="inventory" *ngIf="character && character.abilities && character.abilities.length > 0">
    <div [ngClass]="{'inventory-hidden': ability.isFlavourAbility}" class="inventory-item" *ngFor="let ability of character.abilities; let abilityIndex = index">
      <ng-container *ngIf="!ability.isFlavourAbility">
        <p class="inventory-item-name">
          {{ ability.name }}
          <span *ngIf="!ability.hasOwnProperty('bloodmarksPerUse')">
              ({{ ability.usesPerTurn == 0 ? "Free" : ability.usesPerTurn + "/R" }})
          </span>
          <span *ngIf="ability.hasOwnProperty('bloodmarksPerUse')">(BM: {{ ability.bloodmarksPerUse }})</span>
          <span *ngIf="ability.hasOwnProperty('type') && ability.type != abilityType.Basic" class="pain-indicator">
              {{ ability.type == abilityType.Filler ? "Causes pain: " : "Requires pain: " }} {{ ability.amountOfPain }}
          </span>
        </p>
        <p class="inventory-item-description">{{ ability.description }}</p>
        <div class="inventory-buttons">
          <button class="btn btn-default" (click)="editAbility(abilityIndex, ability)">
            <i class="material-icons">&#xE254;</i>
          </button>
          <button class="btn btn-danger" (click)="removeAbility(abilityIndex)">
            <i class="material-icons">delete_forever</i>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  <h2 style="margin-top: 40px" *ngIf="character && character.abilities && character.abilities.length > 0">Flavour Abilities</h2>
  <div class="inventory" *ngIf="character && character.abilities && character.abilities.length > 0">
    <div [ngClass]="{'inventory-hidden': !ability.isFlavourAbility}" class="inventory-item" *ngFor="let ability of character.abilities; let abilityIndex = index">
      <ng-container *ngIf="ability.isFlavourAbility">
        <p class="inventory-item-name">
          {{ ability.name }}
        </p>
        <p class="inventory-item-description">{{ ability.description }}</p>
        <div class="inventory-buttons">
          <button class="btn btn-default" (click)="editAbility(abilityIndex, ability)">
            <i class="material-icons">&#xE254;</i>
          </button>
          <button class="btn btn-danger" (click)="removeAbility(abilityIndex)">
            <i class="material-icons">delete_forever</i>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="button-wrapper">
    <button class="btn btn-primary" (click)="enableAddAbility()">Add new ability</button>
  </div>
</ng-container>

<div *ngIf="abilityFormEnabled === true">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="newAbility.name" />
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <textarea rows="10" id="description" class="form-control" [(ngModel)]="newAbility.description"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" [(ngModel)]="newAbility.isFlavourAbility">flavour ability</label>
  </div>
  <ng-container *ngIf="!newAbility.isFlavourAbility">
    <!-- Base class -->
    <div class="form-group" *ngIf="!newAbility.hasOwnProperty('bloodmarksPerUse')">
      <label for="usesPerTurn">uses per turn</label>
      <input type="number" id="usesPerTurn" class="form-control" [(ngModel)]="newAbility.usesPerTurn" />
    </div>
    <!-- -->

    <!-- Draconic Blood Knight -->
    <div class="form-group" *ngIf="newAbility.hasOwnProperty('bloodmarksPerUse')">
      <label for="bloodmarksPerUse">bloodmarks per use</label>
      <input type="number" id="bloodmarksPerUse" class="form-control" [(ngModel)]="newAbility.bloodmarksPerUse" />
    </div>
    <!-- -->

    <!-- Chaos Mage -->
    <div class="form-group" *ngIf="newAbility.hasOwnProperty('type')">
      <label for="type">Type</label>
      <select name="type" id="type" class="form-control" [(ngModel)]="newAbility.type">
        <option [value]="abilityType.Basic" selected>Basic</option>
        <option [value]="abilityType.Filler">Filler</option>
        <option [value]="abilityType.Spender">Spender</option>
      </select>
    </div>

    <div class="form-group" 
      *ngIf="newAbility.hasOwnProperty('type') && (newAbility.type == abilityType.Filler || newAbility.type == abilityType.Spender )">
      <label for="amountOfPain">amount of pain</label>
      <input type="number" id="amountOfPain" class="form-control" [(ngModel)]="newAbility.amountOfPain" [min]="1" [max]="20" />
    </div>
    <!-- -->

    <div class="form-group">
      <label for="amountOfStrikes">amount of strikes</label>
      <input type="number" id="amountOfStrikes" class="form-control" [(ngModel)]="newAbility.amountOfStrikes" />
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" [(ngModel)]="newAbility.hasStatusEffect">has status effect</label>
    </div>
    <ng-container *ngIf="newAbility.hasStatusEffect">
      <div class="form-group">
        <label for="effectName">effect name</label>
        <input type="text" id="effectName" class="form-control" [(ngModel)]="newAbility.effect.name" />
      </div>
      <div class="form-group">
        <label for="effectTurns">turns the effect lasts</label>
        <input type="number" id="effectTurns" class="form-control" [(ngModel)]="newAbility.effect.numberOfTurns" />
      </div>
    </ng-container>
  </ng-container>
  <button class="btn btn-primary" (click)="addAbility()">Save</button>
  <a (click)="cancelAddAbility()" class="btn btn-default">Cancel</a>
</div>