@import '~sass/variables';

h2 {
    margin-bottom: 0;
    position: relative;

    mat-icon {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        font-size: 30px;
    }
}