<!--component html goes here -->
<h2>World map</h2>

<ng-container *ngIf="mapSourceLoading === true">
    <p>Loading map...</p>
</ng-container>

<ng-container *ngIf="mapSourceLoading === false">
    <ng-container *ngIf="!mapEditMode">
        <pinch-zoom *ngIf="!fullscreen">
            <img [src]="mapSource" />
        </pinch-zoom>

        <div *ngIf="fullscreen" class="fullscreen-image-wrapper">
            <pinch-zoom>
                <img [src]="mapSource" />
            </pinch-zoom>
        </div>
    </ng-container>

    <app-canvas *ngIf="mapEditMode" [backgroundUrl]="mapSource"></app-canvas>

    <div class="speed-dial-wrapper">
        <eco-fab-speed-dial>
            <eco-fab-speed-dial-trigger>
                <button mat-fab>
                    <mat-icon>menu</mat-icon>
                </button>
            </eco-fab-speed-dial-trigger>
            <eco-fab-speed-dial-actions>
                <button *ngIf="!mapEditMode && !fullscreen" mat-mini-fab (click)="refreshWorldMap()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button *ngIf="!mapEditMode && !fullscreen" mat-mini-fab (click)="toggleEditMode(true)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="!mapEditMode && !fullscreen" mat-mini-fab (click)="toggleFullscreen(true)">
                    <mat-icon>fullscreen</mat-icon>
                </button>
                <button *ngIf="!mapEditMode && fullscreen" mat-mini-fab (click)="toggleFullscreen(false)">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <button *ngIf="mapEditMode" mat-mini-fab (click)="toggleEditMode(false)">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                <button *ngIf="mapEditMode" mat-mini-fab (click)="onClearCanvas()">
                    <mat-icon>clear</mat-icon>
                </button>
                <button *ngIf="mapEditMode" mat-mini-fab (click)="onSaveCanvas()">
                    <mat-icon>save</mat-icon>
                </button>
            </eco-fab-speed-dial-actions>
        </eco-fab-speed-dial>
    </div>
</ng-container>