<p *ngIf="!character">Loading character...</p>

<ng-container *ngIf="character">
  <h2>Melee Weapon Stats</h2>
  <div class="stat-wrapper">
    <div class="stat stat-weapon" *ngFor="let stat of character.weaponStats; let statIndex = index">
      <p class="substat">{{ stat.substats }}</p>
      <p>{{ stat.name }}</p>
      <div class="button-wrapper">
        <button *ngIf="allowEdit" class="btn btn-danger btn-small" (click)="decrementStat('weapon', statIndex)" [disabled]="stat.level === 3">-</button>
        <span>{{ stat.level }}</span>
        <button *ngIf="allowEdit" class="btn btn-primary btn-small" (click)="incrementStat('weapon', statIndex)" [disabled]="stat.level === 20">+</button>
      </div>
    </div>
  </div>

  <h2>Ranged Weapon Stats</h2>
  <div class="stat-wrapper">
    <div class="stat stat-ranged" *ngFor="let stat of character.rangedStats; let statIndex = index">
      <p class="substat">{{ stat.substats }}</p>      
      <p>{{ stat.name }}</p>
      <div class="button-wrapper">
        <button *ngIf="allowEdit" class="btn btn-danger btn-small" (click)="decrementStat('ranged', statIndex)" [disabled]="stat.level === 3">-</button>
        <span>{{ stat.level }}</span>
        <button *ngIf="allowEdit" class="btn btn-primary btn-small" (click)="incrementStat('ranged', statIndex)" [disabled]="stat.level === 20">+</button>
      </div>
    </div>
  </div>

  <h2>Armor Stats</h2>
  <div class="stat-wrapper">
    <div class="stat stat-armor" *ngFor="let stat of character.armorStats; let statIndex = index">
      <p>{{ stat.name }}</p>
      <div class="button-wrapper">
        <button *ngIf="allowEdit" class="btn btn-danger btn-small" (click)="decrementStat('armor', statIndex)" [disabled]="stat.level === 3">-</button>
        <span>{{ stat.level }}</span>
        <button *ngIf="allowEdit" class="btn btn-primary btn-small" (click)="incrementStat('armor', statIndex)" [disabled]="stat.level === 20">+</button>
      </div>
    </div>
  </div>

  <div class="button-wrapper">
    <button class="btn btn-primary" (click)="enableEdit()" [disabled]="allowEdit">Edit</button>
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>
</ng-container>