<div class="abilityWrapper" *ngIf="abilities">
  <div class="menu">
    <i class="material-icons" (click)="cancelAbility()">close</i>
  </div>

  <h2>Which ability do you want to cast?</h2>

  <div class="componentWrapper">
    <app-pain-meter 
      *ngIf="currentPain !== undefined" 
      [painLevel]="currentPain">
    </app-pain-meter>
  </div>

  <div class="ability" *ngFor="let ability of availableAbilities">
    <ng-container>
      <p>
        <span>{{ability.name}} ({{abilityUsesLeft(ability) === 0 ? "Free" : abilityUsesLeft(ability) + " remaining" }})
          <span *ngIf="ability.hasOwnProperty('type') && ability.type != abilityType.Basic" class="pain-indicator">
            {{ ability.type == abilityType.Filler ? "Causes pain: " : "Requires pain: " }} {{ ability.amountOfPain }}
          </span>
        </span>
        <ng-container *ngIf="ability.hasOwnProperty('type') && ability.type == abilityType.Filler">
            <i *ngIf="wontKillYou(ability)" class="material-icons" (click)="castAbility(ability)">whatshot</i>
        </ng-container>
        <ng-container *ngIf="ability.hasOwnProperty('type') && ability.type == abilityType.Spender">
            <i *ngIf="enoughPainFor(ability)" class="material-icons" (click)="castAbility(ability)">whatshot</i>
        </ng-container>
        <ng-container *ngIf="ability.hasOwnProperty('type') && ability.type == abilityType.Basic">
            <i class="material-icons" (click)="castAbility(ability)">whatshot</i>
        </ng-container>
      </p>
      <div>{{ability.description}}</div>
    </ng-container>
  </div>
</div>