@import '~sass/variables';


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);    
    z-index: 5;
    max-height: 100vh;
    overflow-y: auto;

    mat-sidenav-container, mat-sidenav {
        background-color: $primary-color;
    }

    ::ng-deep .mat-drawer-backdrop {
        position: fixed !important;
    }
}

.menu-button {
    mat-icon {
        font-size: 1.6em;
    }
}

.header ul {
    margin: 0;
    cursor: pointer;

    li {
        padding: 10px 20px;            
    }
}

.dropdown-open li {
    display: block;
}

.dropdown-closed li {
    list-style-type: none;
    display: none;
}

.header li.active a {
    position: relative;
    &::before, &::after {
        position: absolute;
        top: calc(50% - 2px);
        content: "";
        background-color: darken($primary-color-dark, 5%);
        height: 4px;
        display: block;
        width: 20px;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

.header a {
    text-decoration: none;
    text-align: center;
    color: #F2F2F2;
    display: block;
    padding: 10px 30px;
}

.header li.nav-dark {
    background-color: $primary-color-dark;
}

.header li.nav-darker {
    background-color: lighten($primary-color-dark, 10%);
}