<h2>Admin Notes</h2>

<ng-container *ngIf="!noteEdit && adminNotes && adminNotes.length > 0">
  <p>{{ adminNotes }}</p>
  <div class="button-wrapper">
    <button class="btn btn-primary" (click)="editNotes()">Edit</button>
  </div>
</ng-container>

<ng-container *ngIf="noteEdit">
  <div class="form-group">
    <label for="adminNotes">My notes:</label>
    <textarea id="adminNotes" class="form-control" [(ngModel)]="adminNotes" rows="15"></textarea>
  </div>
  <button class="btn btn-primary" (click)="saveNotes()">Save</button>

</ng-container>