@import '~sass/variables';

.woundSelectorWrapper {
    padding-top: 20px;
}

.woundsTop, .woundsMiddle, .woundsBottom {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    // align-items: flex-start;
}
.woundsBottom {
    padding-bottom: 40px;
}

.woundArea {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 300px;

    & > div {
        padding: 15px 10px;
    }
    & > div:first-of-type {
        background-color: black;
        text-align: center;
    }
    & > div:last-of-type {
        padding-bottom: 0;
    }
    & + .woundArea {
        margin-left: 20px;
    }
}

.woundList {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    align-items: flex-start;

    p {
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border-width: 2px;
        border-style: solid;
        margin-bottom: 10px;
        margin-right: 10px;
        color: white;
        border-color: white;
        &:last-of-type {
            margin-bottom: 15px;
        }
        &.woundSCR {
            background-color: lighten($wound-color, 40%);
            color: black;
        }
        &.woundLW {
            background-color: lighten($wound-color, 25%);
        }
        &.woundSW {
            background-color: lighten($wound-color, 12.5%);
        }
        &.woundFAT {
            background-color: $wound-color;
        }
    }
}

@media (min-width: 768px) {
    .woundSelectorWrapper {
        padding-top: 60px;
    }
}