<div class="woundSelectorWrapper">
  <div class="woundsTop">
    <wound-area
      [location]="woundLocation.Head"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
  </div>
  <div class="woundsMiddle">
    <wound-area
      [location]="woundLocation.LeftArm"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
    <wound-area
      [location]="woundLocation.RightArm"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
  </div>
  <div class="woundsMiddle">
    <wound-area
      [location]="woundLocation.Chest"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
    <wound-area
      [location]="woundLocation.Abdomen"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
  </div>
  <div class="woundsBottom">
    <wound-area
      [location]="woundLocation.LeftLeg"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
    <wound-area
      [location]="woundLocation.RightLeg"
      [wounds]="wounds"
      (addWound)="onAddWound($event)"
      (removeWound)="onRemoveWound($event)"
      (clearWounds)="onClearWounds($event)">
    </wound-area>
  </div>
</div>