@import '~sass/variables';

.woundSelectorWrapper {
    padding-top: 20px;
}

.woundsTop, .woundsMiddle, .woundsBottom {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

    wound-area {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 1;
        max-width: 300px;
    
        & + wound-area {
            margin-left: 20px;
        }
    }    
}

.woundsBottom {
    padding-bottom: 40px;
}


@media (min-width: 768px) {
    .woundSelectorWrapper {
        padding-top: 60px;
    }
}