/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}

p, li, a, span {
    font-size: 1em;
}

.page-wrapper {
    padding: 20px;
    margin-top: 40px;
    min-height: calc(100vh - 40px);
}


@media (min-width: 768px){
    .page-wrapper {
        padding: 60px 0;
        max-width: 768px;
        margin: 0 auto;
        margin-top: 60px;
    }


    .hide-on-desktop {
        display: none !important;
    }
}