<p *ngIf="!character">Loading character...</p>

<ng-container *ngIf="character">
  <h2>Professions</h2>
  <div class="stat-wrapper">
    <div class="stat stat-profession" *ngFor="let stat of character.professionStats; let statIndex = index">
      <p class="substat">{{ stat.substats }}</p>
      <p>{{ stat.name }}</p>
      <div class="button-wrapper">
        <button *ngIf="allowEdit" class="btn btn-danger btn-small" (click)="decrementStat('profession', statIndex)" [disabled]="stat.level === 3">-</button>
        <span *ngIf="allowEdit" (click)="setStat(statIndex, stat.name)">{{ stat.level }}</span>        
        <span *ngIf="!allowEdit">{{ stat.level }}</span>
        <button *ngIf="allowEdit" class="btn btn-primary btn-small" (click)="incrementStat('profession', statIndex)" [disabled]="stat.level === 20">+</button>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button class="btn btn-default" (click)="enableEdit()" [disabled]="allowEdit">Edit</button>
    <button class="btn btn-primary" (click)="onSave()" [disabled]="!allowEdit">Save</button>
  </div>
</ng-container>